#seasonAndTerrainList {
  list-style: none;
}
/* body {
  font-family: 'Quicksand', sans-serif;
  background-color: #041B44;
  color: #C8BDC7;
} */

#personalItems {
  display: none;
}

#userPopList {
  list-style: none;
}
.main-div {
  width: 25%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;

}

.main-div input {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.main-div button {
  background: #B9CCE4;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
}


.main-div button:hover {
  background-color: #ffffff;
  color: #B9CCE4;
}
