html {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #486d97;
  color: #C8BDC7;
  height: 100%;
  display: block;
  /* background-image: linear-gradient(#8d8ea5,#143767); */
  /* font-size: 1em; */
}

header {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}

header img {
  position: fixed;
  top:0;
  z-index: -1;
  margin: 0 auto;
}

header h1 {
  margin: 35% 0 0;
  font-size: 10em;
  background-color: inherit;
  z-index: 100;
}

header h2 {
  font-size: 4em;
}

header button{
  font-size: 4em;
  margin: 0 20px;

}

li {
  list-style-type: none;
}

li input {
  margin: 10px 15px;
}

.header-buttons {
  margin: 85% 0;
  display: flex;
  justify-content: center;
}

#seasonAndTerrainList {
  list-style: none;
}


#personalItems {
  display: none;
}


h6 {
  padding: 5px;
  }

#userPopList {
  list-style: none;
}

.main-div {
  width: 25%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
}

.main-div input {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.main-div button {
  background: #B9CCE4;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
}

.main-div button:hover {
  background-color: #ffffff;
  color: #B9CCE4;
}

.bigImg-1, .bigImg-2 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bigImg-1 {
  background-image: url("../img/campappbg.jpg");
  height: 100%;
}

.bigImg-1-content {
  text-align: center;
  padding: 70px 0;
}

.bigImg-1-content h1 {
  font-size: 6.5rem;
}

.bigImg-login {
  position: absolute;
  left: 0;
  top: 85%;
  text-align: center;
  width: 100%;
}

.box-1 {
  text-align: center;
  background-color: #486d97;
  padding: 20px;
  color: #c2cedb;
}

.bigImg-2 {
  background-image: url("../img/campappbglgt.jpg");
  min-height: 100px;
}

.bigImg-2 h2{
  padding: 50px 20px;
  color: #163860;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.bigImg-2-content {
  background-color: white;
  /* height: 900px; */
  width: 60%;
  color: black;
  opacity: .8;
  margin: 0 auto;
  padding: 20px;
  color: black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: linear-gradient(rgba(255,0,0,0) 70%, rgb(101, 163, 174));
}

.bigImg-2-content h2 {
  text-align: center;
}
.bigImg-2-content output {
  width: 100%;
}

.bigImg-2-content li {
  padding: 5px 0;
  width: 90%;
  margin: 0 auto;
}

.bigImg-2-content li a {
  color: blue;
  cursor: pointer;
}
.bigImg-2-content li:hover {
background-color: #64a2ac;
transform: scale(1.2);
width: 100%;
display: block;
text-indent: 10%;
}

.bigImg-2-content li:hover > .deleteItem {
  visibility: visible;
}

li .deleteItem {
  visibility: hidden;
  margin-right: 45px;
}

.box-2{
  text-align: center;
  height: 300px;
  color: #c2cedb;
}

#listModal {
  color: #163860
}

form {
  padding: 30px;
}

#terrain, #season {
  width: 50%;
  margin: 0 auto;
  text-align-last: center;
}

#listName {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#addPersonalItem {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#addItemButton {
  visibility: visible;
  text-indent: 0;
}

#addItemButton:hover {
  transform: scale(1.2);
  background-color: transparent;
}

.addItemButton {
  text-align: center;
}

.deleteItem {
  float: right;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 10px;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

.isPacked::after {
  content: "✓ Packed";
  font-weight: bold;
  float: right;
  color: #306477;
  margin-right: 20px;
}

@media only screen and (min-width: 900px){
  .bigImg-1 {
    width: 70%;
    margin: 0 auto;
  }

  .bigImg-2-content {
    width: 50%;
  }
}

/* end heathers css styles */
